{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Admin{% endblock %}</h1>
    <form action="{{ url_for('admin.change_password') }}" method="post">
        <fieldset>
            <label>Current Password</label>
            <input type="password" name="current_password" placeholder="***" autocomplete="password"/>
            <label>New Password</label>
            <input type="password" name="password" placeholder="***"/>
            <label>Confirm New Password</label>
            <input type="password" name="password_confirm" placeholder="***"/>
        </fieldset>
        <input type="submit" value="Change Password"/>
    </form>

    <form action="{{ url_for('admin.change_config') }}" method="post">
        <fieldset>
            <label>Storage Limit (Mb)</label>
            <input type="text" name="storage_limit" placeholder="0" value="{{ config[0]['Value'] }}"/>
        </fieldset>
        <input type="submit" value="Save Config"/>
    </form>
{% endblock %}